body {
	background-color: #222;
}

.enlarged img {
	max-height: none !important;
	cursor: -moz-zoom-out !important;
	cursor: -webkit-zoom-out !important;
	cursor: zoom-out !important;
}

.container-fluid {
	margin-bottom: 80px;
	/* 30px + 50px footer*/
}

#page-title {
	margin-top:10px;
	color: #fff;
}

.jumbotron {
	background-color: #222;
	margin-bottom: 0px;
	padding-bottom: 30px;`
}

.reddit-listing {
	padding-top: 0px;
}


.placeholder {
	color: #ddd;
}
.image-title {
	margin-top:0px
}

.image-title a {
	color: #ddd;
}

.jumbotron img {
	max-height: 75%;
	margin-bottom: 0px;
	cursor: -moz-zoom-in;
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #555;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.btn-default {
	background-color: #555;
	color: #fff;
}

.btn-default:hover {
	background-color: #555;
	color: #fff;
	cursor: pointer;
}

#btn-prev {
	padding-top: 4px;
	padding-bottom: 4px;
	border-right: 1px solid #222;
}

#btn-next {
	padding-top: 4px;
	padding-bottom: 4px;
}

.footer .container-fluid {
	padding: 0px;
	margin-bottom: 0px;
}

@media(max-width:767px){
	.container-fluid {
		padding: 5px;
	}
	.jumbotron {
		padding: 5px;
	}
	.jumbotron img {
	max-height: none;
	cursor: auto;
	}

	#page-title {
		font-size: 21px;
	}
}

}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}